@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-main-image {
  background-image: url('../assets/main.png'); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
}
